################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AthsVideoRecording/bin/
/AthsVideoRecording/obj/
/AthsVideoRecording/athsvideo.keystore
/GetProgramAsCsv/bin/
/GetProgramAsCsv/obj/
/SendVideoOverTcpLib/bin/
/SendVideoOverTcpLib/obj/

