################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SendVideoOverTcpLib/obj
/SendVideoOverTcpLib/bin/Debug/net9.0-android
/AthsVideoRecording/athsvideo.keystore
/GetProgramAsCsv/obj/Debug/net9.0-android/adb.props
/GetProgramAsCsv/obj/Debug/net9.0-android/GetProgramAsCsv.AssemblyInfo.cs
/GetProgramAsCsv/obj/Debug/net9.0-android/GetProgramAsCsv.AssemblyInfoInputs.cache
/GetProgramAsCsv/obj/Debug/net9.0-android/GetProgramAsCsv.dll
/GetProgramAsCsv/obj/Debug/net9.0-android/GetProgramAsCsv.pdb
/GetProgramAsCsv/obj/Debug/net9.0-android/GetProgramAsCsv.sourcelink.json
/GetProgramAsCsv/obj/Debug/net9.0-android/refint/GetProgramAsCsv.dll
/GetProgramAsCsv/bin/Debug/net9.0-android/GetProgramAsCsv.dll
/GetProgramAsCsv/bin/Debug/net9.0-android/GetProgramAsCsv.pdb
/GetProgramAsCsv/bin/Release/net9.0-android/GetProgramAsCsv.dll
/GetProgramAsCsv/bin/Release/net9.0-android/GetProgramAsCsv.pdb
/GetProgramAsCsv/bin/Release/net9.0-android/GetProgramAsCsv.xml
/GetProgramAsCsv/obj/Release/net9.0-android/designtime/build.props
/GetProgramAsCsv/obj/Release/net9.0-android/designtime/libraryimports.cache
/GetProgramAsCsv/obj/Release/net9.0-android/designtime/libraryprojectimports.cache
/GetProgramAsCsv/obj/Release/net9.0-android/designtime/stamp/_BuildLibraryImportsCache.stamp
/GetProgramAsCsv/obj/Release/net9.0-android/designtime/stamp/_ResolveLibraryProjectImports.stamp
/GetProgramAsCsv/obj/Release/net9.0-android/ref/GetProgramAsCsv.dll
/GetProgramAsCsv/obj/Release/net9.0-android/refint/GetProgramAsCsv.dll
/GetProgramAsCsv/obj/Release/net9.0-android/stamp/_BuildLibraryImportsCache.stamp
/GetProgramAsCsv/obj/Release/net9.0-android/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/GetProgramAsCsv/obj/Release/net9.0-android/adb.props
/GetProgramAsCsv/obj/Release/net9.0-android/build.props
/GetProgramAsCsv/obj/Release/net9.0-android/customview-map.txt
/GetProgramAsCsv/obj/Release/net9.0-android/GetProgramAsCsv.AssemblyInfo.cs
/GetProgramAsCsv/obj/Release/net9.0-android/GetProgramAsCsv.AssemblyInfoInputs.cache
/GetProgramAsCsv/obj/Release/net9.0-android/GetProgramAsCsv.assets.cache
/GetProgramAsCsv/obj/Release/net9.0-android/GetProgramAsCsv.csproj.AssemblyReference.cache
/GetProgramAsCsv/obj/Release/net9.0-android/GetProgramAsCsv.csproj.CoreCompileInputs.cache
/GetProgramAsCsv/obj/Release/net9.0-android/GetProgramAsCsv.csproj.FileListAbsolute.txt
/GetProgramAsCsv/obj/Release/net9.0-android/stamp/_CleanIntermediateIfNeeded.stamp
/GetProgramAsCsv/obj/Release/net9.0-android/stamp/_ConvertResourcesCases.stamp
/GetProgramAsCsv/obj/Release/net9.0-android/stamp/_ResolveLibraryProjectImports.stamp
/GetProgramAsCsv/obj/Release/net9.0-android/GetProgramAsCsv.dll
/GetProgramAsCsv/obj/Release/net9.0-android/GetProgramAsCsv.GeneratedMSBuildEditorConfig.editorconfig
/GetProgramAsCsv/obj/Release/net9.0-android/GetProgramAsCsv.GlobalUsings.g.cs
/GetProgramAsCsv/obj/Release/net9.0-android/GetProgramAsCsv.pdb
/GetProgramAsCsv/obj/Release/net9.0-android/GetProgramAsCsv.sourcelink.json
/GetProgramAsCsv/obj/Release/net9.0-android/libraryimports.cache
/GetProgramAsCsv/obj/Release/net9.0-android/libraryprojectimports.cache
/GetProgramAsCsv/obj/Release/net9.0-android/R.cs.flag
/GetProgramAsCsv/obj/Release/net9.0-android/R.txt
/GetProgramAsCsv/obj/Release/net9.0-android/res.flag
/GetProgramAsCsv/obj/Release/net9.0-android/_CompileBindingJava.FileList.txt
/GetProgramAsCsv/obj/Release/net9.0-android/_Microsoft.Android.Resource.Designer.dll
/GetProgramAsCsv/obj/Release/net9.0-android/_XamarinBuildIsIncremental
/GetProgramAsCsv/obj/Release/net9.0-android/__Microsoft.Android.Resource.Designer.cs
/AthsVideoRecording/AthsVideoRecording.csproj
/GetProgramAsCsv/obj/Debug/net9.0-android/ref/GetProgramAsCsv.dll
/SendVideoOverTcpLib/bin/Release/net9.0-android/SendVideoOverTcpLib.dll
/SendVideoOverTcpLib/bin/Release/net9.0-android/SendVideoOverTcpLib.pdb
/SendVideoOverTcpLib/bin/Release/net9.0-android/SendVideoOverTcpLib.xml
